.container-fluid{
    width: 90%;
}
.customForm-label{
    font-size: 20px;
}
.dayBlock{
    border: 1px solid #000000;
    height: 203px;
    width: 159px;
    margin: 20px 7px;
}
.sec-header{
    text-align: end;
    padding: 10px;
    background-color: #AEB3FF;
    color: #FFFAFA;
}
.bdayData{
    text-align: center;
    color: #FFFAFA;
    vertical-align: middle;
}